@import "~antd/dist/antd.css";
@import "~rsuite/dist/styles/rsuite-default.css";

@import "Main.css";
@import "auth/Login.css";
@import "auth/Register.css";
@import "TopBar.css";
@import "donors/DonorHome.css";
@import "ngos/NgoHome.css";
@import "ngos/map/MapComposite.css";
@import "ngos/NgoNewDonations.css";
@import "history/HistorySection.css";
@import "history/DonorHistoryTable.css";
@import "history/NgoHistoryTable.css";
@import "donors/DonorMain.css";


.App {
  text-align: center;
}