.App-header{
    display:flex; 
    align-items:center;
    height: 90px;
    width: 100%;
    box-shadow: rgb(220,220,220) 0px 2px 10px;
}

.header-container{
    display: flex;
    align-items: center;
    max-width: 72rem;
    width: 65rem;
    margin: 0 auto;
    justify-content: space-between;
}


.App-logo{
    height:70px;
    margin: 0;
    padding: 0;

}


.Login{
    text-align: right;
    margin-right:10px;
    margin-top:10px;
    color: #000000;
    font-size:13px;
}

.link{
    color: #02a95c;
    
}
.link:visited{
    color:#02a95c;
}

.link:hover{
    color:#016d3b;
}

.button-submit{
    background-color: #02a95c;
    color:#fff;
    font-size:1.1em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.button-submit:hover{
    background-color: #016d3b;
    color:#fff;
}


