.profile{
    text-align:left;
    margin-left: 70px;
}

.describe{
    font-size: large;
    font-weight: bolder;
    margin-top: 20px;
}

.info{
    font-size: large;
}

.profile-name{
    justify-content: space-between;
    width: 90%;
    display: flex;
}

.profile-edit{
    width: 45%;
    justify-content: space-between;
    margin: 0 auto;
    display: flex;
}