.spin-box {
    height: 370px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.donor-history-list-box {
    padding: 10px;
    border: 4px solid #ccc;
    margin-top: 120px;
    max-height: 698px;
}

.donor-history-list {
    height: 600px;
    overflow: scroll;
    text-align: left;
}

.donation-pending-text {
    color: gray;
}

.donation-complete-text {
    color: forestgreen;
}

.donation-scheduled-text {
    color: darkorange;
}

.donation-complete-text, .donation-pending-text, .donation-scheduled-text {
    text-align: left;
    font-weight: bold;
    font-size: 1.25em;
    margin-right: 3em;
}
.delete_button_box{
    display: flex;
}
.delete_button{
    margin-right: 20px;
}
.ant-list-item ant-list-item-no-flex{
    display: flex;
}