.spin-box {
  height: 370px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ngo-pickup-list-box {
  padding: 10px;
  border: 4px solid #ccc;
  margin-top: 120px;
  margin-right: 30px;
  max-height: 698px;
}

.ngo-pickup-list {
  height: 600px;
  overflow: scroll;
  text-align: left;
}

.ngo-pickup-pending-text {
  text-align: left;
  color: gray;
  font-weight: bold;
}

.ngo-pickup-complete-text {
  text-align: left;
  color: forestgreen;
  font-weight: bold;
}
