.mapComposite {
  height: 525px;
  width: 100%;
  display: flex;
}

.map {
  height: 510px;
  margin-left: 20px;
  width: 70%;
}

.itemList {
  height: 510px;
  padding: 10px;
  margin-left: 20px;
  padding-right: 3px;
  margin-right: 10px;
  background-color: #f7f7fa;
  box-shadow: inset 0px 0px 6px;
}

.scrollable-container {
  overflow-y: scroll;
  height: 490px;
  width: 231px;
}
/* .background {
    height: 700px;
    /*background-image: url('https://zos.alipayobjects.com/rmsportal/RmjwQiJorKyobvI.jpg');
} */

.mapItem {
  height: 117px;
  border-bottom: 1px solid #bfbfbf;
  display: flex;
  align-items: center;
  /* transition: background 1s; */
}
.mapItem:hover {
  background: rgb(255, 255, 255);
}

.mapItemAddress {
  text-align: left;
}
.mapItemName {
  font-weight: bold;
  text-align: left;
}
.mapItemImage {
  height: 100%;
  width: 100px;
  background-image: url("https://via.placeholder.com/100");
}
.mapItemImageImage {
  height: 100px;
  width: 100px;
}
.mapItemDetail {
}
.mapItemCheckbox {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 15px;
}
