.main{
    display: flex;
    margin: 0 auto;
    width: 1150px;
}

.switch{
    flex-grow: 20;
    margin-top: 20px;
}

.navbar{
    flex-grow: 1;
    margin-top: 20px;
    margin-right:20px;
    box-shadow: 0px 0px 1px;
}

.main-content{
    box-shadow: 0px 0px 1px;
    width: 700px;
}

.my-profile{
    height: 540px;
}

.donate{
    width: 400px;
    margin: 0 auto;
}

.main-title{
    font-size: x-large;
    font-weight: bolder;
    height:80px;
    display: flex;
    margin-left: 50px;
    align-items: center;
}

.divide{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 0px;
}