.ant-tabs-tab{
    /*font-weight: bold;*/
}

.ant-tabs-tab-active{
    background-color: aliceblue;
}

.home-tab {
    text-align: left;
    margin: 50px 50px;
}

.button-home-tab {
    float:right;
    background-color: white;
    border: 0;
}