.ngo-new-donations {
  height: 624px;
  box-shadow: 1px 3px 6px;
  margin-right: 20px;

  width: 930px;
}

.ngo-nd-title {
  font-size: 2em;
  margin-top: 15px;
  left: 20px;
}
.map-top-bar {
  justify-content: space-between;
}
.map-date-submit {
  justify-content: space-between;
  margin-right: 47px;
  align-items: center;
  width: 424px;
  display: flex;
}

.schedule-button {
  width: 176px;
  font-size: large;
}
/*.ngo-nd-map {
  /*border: 2px solid #ccc;*/
/*height: 704px;*/
/*background-color: #cccccc;*/
/* left: 0;
  right: 0;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 70px;
}

.ngo-nd-date {
  margin-top: 20px;
  right: 0;
  margin-right: 255px;
  transform: scale(1.2);
}

.ngo-nd-schedule {
  right: 0;
  margin-top: 15px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
}

.ngo-nd-button {
  text-transform: none;
  background-color: deepskyblue;
  font-size: 1.4em;
  color: #fff;
}

.ngo-nd-message {
  margin-top: 50vh;
} */
