.ngo-new-donations {
    position: relative;
    height: 800px;
    /*background-color: aqua;*/
    margin-right: 20px;
    /*border: 2px solid #ccc;*/
    padding-left: 20px;
    padding-right: 20px;

}

.ngo-nd-title {
    position: absolute;
    font-size: 2em;
    margin-top: 15px;
    left: 20px;
}

.ngo-nd-map {
    position: absolute;
    /*border: 2px solid #ccc;*/
    /*height: 704px;*/
    /*background-color: #cccccc;*/
    left: 0;
    right: 0;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 70px
}

.ngo-nd-date {
    position: absolute;
    margin-top: 20px;
    right: 0;
    margin-right: 255px;
    transform: scale(1.2);
}

.ngo-nd-schedule {
    position: absolute;
    right: 0;
    margin-top: 15px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
}

.ngo-nd-button {
    text-transform: none;
    background-color: deepskyblue;
    font-size: 1.4em;
    color: #fff;
}

.ngo-nd-message {
    margin-top: 50vh;
}